body{
    background-color: var(--background) !important;
}


input{
    color: var(--text) !important;
    background-color: var(--background) !important;
  
    /* label{
        color: var(--text) !important;
    } */
}
